@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using WebClient.Models;
    @model IEnumerable<NetworkStatusTable>;
    }

    <head>
                                                          
    <script type="text/javascript">
                                                            
        function AutoRefresh(t){
            setTimeout("location.reload(true);", t);
        }

    </script>
    </head>
    <body onload="JavaScript: AutoRefresh(60000);">
        <h1>Welcome to the Ubiquity Network</h1>
        <div id="Users">
            
                                                            
                   
        
    <p>Current registered user status</p>
    <table align="center">  
    <tr>
    <th> Client IP</th>
    <th> Client Port</th>
    <th> Jobs Complete</th>
    <th> Network Status</th>
    
    </tr>
                                        
    @foreach(var network in Model)
    {
    <tr>
        <td>@network.IPAddress   </td>
        <td>@network.Port </td>
        <td>@network.JobsCompleted </td>
        <td>@network.status </td>
    </tr>
    }
     </table>  
    </div>

                       

    </body>

